<div class="contact-container">
  <h2>{{ isLogin ? 'Hyr' : 'Regjistrohu' }}</h2>

  <div *ngIf="successMsg" style="color: green; font-weight: bold; padding: 10px; border: 1px solid green; margin-bottom: 10px;">
    {{ successMsg }}
  </div>

  <!-- LOGIN FORM -->
  <form *ngIf="isLogin" (ngSubmit)="onLogin()">
    <input
      type="email"
      [(ngModel)]="loginData.email"
      name="email"
      placeholder="Adresa e Email-it"
      required
    />

    <input
      type="password"
      [(ngModel)]="loginData.password"
      name="password"
      placeholder="Fjalëkalimi"
      required
    />

    <button type="submit">Hyr</button>
  </form>

  <!-- SIGNUP FORM -->
  <form *ngIf="!isLogin" (ngSubmit)="onSignup()">
    <input
      type="text"
      [(ngModel)]="signupData.name"
      name="name"
      placeholder="Emri"
      required
    />

    <input
      type="text"
      [(ngModel)]="signupData.surname"
      name="surname"
      placeholder="Mbiemri"
      required
    />

    <input
      type="email"
      [(ngModel)]="signupData.email"
      name="email"
      placeholder="Adresa e Email-it"
      required
    />

    <input
      type="password"
      [(ngModel)]="signupData.password"
      name="password"
      placeholder="Fjalëkalimi"
      required
    />

    <input
      type="password"
      [(ngModel)]="signupData.confirm"
      name="confirm"
      placeholder="Konfirmo Fjalëkalimin"
      required
    />

    <button type="submit">Krijo llogari</button>
  </form>

  <p>
    <a href="#" (click)="toggleForm($event)">
      {{ isLogin ? 'Krijo Llogari' : 'Hyr' }}
    </a>
    <a routerLink="/reset-password" class="forgot-link">
      Keni harruar fjalëkalimin?
    </a>
  </p>
</div>
