<div class="contact-container">
  <h2>{{ isLogin ? 'Login' : 'Sign Up' }}</h2>

  <!-- LOGIN FORM -->
  <form *ngIf="isLogin" (ngSubmit)="onLogin()">
    <input 
      type="email" 
      [(ngModel)]="loginData.email" 
      name="email" 
      placeholder="Email Address" 
      required 
    />

    <input 
      type="password" 
      [(ngModel)]="loginData.password" 
      name="password" 
      placeholder="Password" 
      required 
    />

    <button type="submit">Sign In</button>
  </form>

  <!-- SIGNUP FORM -->
  <form *ngIf="!isLogin" (ngSubmit)="onSignup()">
    <input 
      type="text" 
      [(ngModel)]="signupData.name" 
      name="name" 
      placeholder="Name" 
      required 
    />

    <input 
      type="text" 
      [(ngModel)]="signupData.surname" 
      name="surname" 
      placeholder="Surname" 
      required 
    />

    <input 
      type="email" 
      [(ngModel)]="signupData.email" 
      name="email" 
      placeholder="Email Address" 
      required 
    />

    <input 
      type="password" 
      [(ngModel)]="signupData.password" 
      name="password" 
      placeholder="Password" 
      required 
    />

    <input 
      type="password" 
      [(ngModel)]="signupData.confirm" 
      name="confirm" 
      placeholder="Confirm Password" 
      required 
    />

    <button type="submit">Create Account</button>
  </form>

  <p>
    <a href="#" (click)="toggleForm($event)">
      {{ isLogin ? 'Switch to Sign Up' : 'Switch to Login' }}
    </a>
  </p>
</div>